acres==0.3.0
annexremote==1.6.6
backports.tarfile==1.2.0
boto3==1.40.17
botocore==1.40.17
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
ci-info==0.3.0
click==8.1.8
cryptography==45.0.6
datalad==1.2.1
dcmstack==0.9.0
distro==1.9.0
etelemetry==0.3.1
fasteners==0.20
filelock==3.18.0
git-annex==10.20250721
heudiconv==1.3.3
humanize==4.13.0
idna==3.10
importlib_metadata==8.7.0
importlib_resources==6.5.2
iso8601==2.1.0
isodate==0.6.1
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.3.0
jeepney==0.9.0
jmespath==1.0.1
joblib==1.4.2
keyring==25.6.0
keyrings.alt==5.0.2
looseversion==1.3.0
lxml==5.3.2
more-itertools==10.7.0
msgpack==1.1.1
networkx==3.4.2
nibabel==5.3.2
nilearn==0.11.1
nipype==1.10.0
numpy==2.2.4
packaging==24.2
pandas==2.2.3
patool==4.0.1
platformdirs==4.4.0
prov==2.0.1
puremagic==1.28
pycparser==2.22
pydeface==2.0.2
pydicom==3.0.1
pydot==3.0.4
pylibjpeg-libjpeg==2.3.0
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-gitlab==6.2.0
pytz==2025.2
rdflib==6.3.2
requests==2.32.3
requests-toolbelt==1.0.0
s3transfer==0.13.1
scikit-learn==1.6.1
scipy==1.15.2
SecretStorage==3.3.3
simplejson==3.20.1
six==1.17.0
threadpoolctl==3.6.0
tqdm==4.67.1
traits==7.0.2
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
zipp==3.23.0
